[submodule "sdl"]
	path = sdl
	url = https://github.com/shedbuilt/sdl.git
    branch = .
[submodule "sdl-net"]
	path = sdl-net
	url = https://github.com/shedbuilt/sdl-net.git
    branch = .
[submodule "sdl-mixer"]
	path = sdl-mixer
	url = https://github.com/shedbuilt/sdl-mixer.git
	branch = .
[submodule "sdl-gfx"]
	path = sdl-gfx
	url = https://github.com/shedbuilt/sdl-gfx.git
	branch = .
[submodule "sdl-image"]
	path = sdl-image
	url = https://github.com/shedbuilt/sdl-image.git
	branch = .
[submodule "sdl-ttf"]
	path = sdl-ttf
	url = https://github.com/shedbuilt/sdl-ttf.git
	branch = .
[submodule "pygame"]
	path = pygame
	url = https://github.com/shedbuilt/pygame.git
	branch = .
